<template name="header">
<div class="header-background">
    <div class="mask"></div>
    <div class="logo">
      <img src="/img/logo.svg"/>
    </div>
    <div class="nav-bar container">
        <div class="row">
          <div class="col-md-1 navbar-items">
            <div class="nav-items">
              <a href="/">Explore</a>
            </div>
          </div>
          <div class="col-md-2 navbar-items">
            <div class="nav-items">
              <a href="/giving">Give a hand</a>
            </div>
          </div>
          <div class="col-md-2 navbar-items">
            <div class="nav-items">History</div>
          </div>
          <div class="col-md-5"></div>
          <div class="col-md-1">
            <div class="nav-items navbar-items">Avatar</div>
          </div>
          <div class="col-md-1">
            <div class="nav-items navbar-items">Notification</div>
          </div>
        </div>
    </div>
</div>
</template>
