/* CSS declarations go here */
@font-face {
    font-family: 'proxima-bold';
    src: url('font/Mark Simonson - Proxima Nova Bold.otf')
}
@font-face {
    font-family: 'proxima-light';
    src: url('font/Mark Simonson - Proxima Nova Light.otf')
}
@font-face {
    font-family: 'proxima-regular';
    src: url('font/Mark Simonson - Proxima Nova Regular.otf')
}
body {
    font-family: 'proxima-regular';
    background: rgba(228, 228, 228, 0.31)
}
.layout{
    margin: 0 auto;
    background: white;
}
.header-background {
    height: 250px;
    position: relative;
    background-image: url('/img/hands.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -150px;
}
.mask {
    top: 0;
    position: absolute;
    height: 251px;
    opacity: 0.4;
    width: 100%;
    background: #834d9b;
    background: -webkit-linear-gradient(to left, #834d9b , #d04ed6 );
    background: linear-gradient(to left, #834d9b , #d04ed6 );
}

.logo img {
  width: 145px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 60px auto;
  z-index: 5;
}
.ex-container {
  padding: 0 60px;
}
.nav-bar {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.nav-items {
    display: inline-block;
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 17px;
    margin: 0px 25px 2px 0px;
    border-bottom: transparent 4px solid;
}
.nav-items:hover{
    cursor: pointer;
    border-bottom: white 4px solid;
}
.navbar-items {
  text-align: center;
}
.announce{
     text-align: center;
     margin: 100px 20px;
     background: yellow;
     border-radius: 12px;
 }
 .post {
     position: relative;
     text-align: left;
     margin: 0px 20px;
     padding: 25px 30px;
     border-radius: 8px;
     font-size: 20px;
     background: white;
 }
 .edit-icon {
     position: absolute;
     top: -35px;
     right: 4px;
     width: 20px;
 }
 .main-info .info {
   display: -webkit-box;
 }
 .info{
     text-align: left;
     padding: 15px 35px;
     font-size: 10px;
 }
 .info .time {
   font-size: 13px;
 }
  .info .time img {
   width: 30px;
   vertical-align: bottom;
   margin-right: 7px;
 }
 .info .check-in {
   font-size: 13px;
 }
 .info .check-in img {
   width: 20px;
   vertical-align: bottom;
   margin: 0 7px 0 15px;
 }
 .avatar{
     width: 70px;
     height: 70px;
     margin: 0 auto;
     position: relative;
 }
 .t-avatar {
     width: 70px;
     height: 70px;
     margin: 0 auto;
 }
 .avatar img {
     width: 100%;
     height: 100%;
     border-radius: 50%;
     position: absolute;
     top: -26px;
     left: 0px;
 }
.t-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.r-avatar {
    height: 45px;
    width: 45px;
    display: inline-block;
}
.r-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
 .name {
     font-size: 17px;
     font-weight: bold;
     margin: -20px;
 }
.main-info {
    padding: 0px 0px 60px;
    position: relative;
}
.detail-info {
    background: orange;
}
.more-info{
    background: yellow;
    border-radius: 0px 0px 12px 12px;
    padding: 13px;
}
.row.selected .giving{
    width: 16.66667%;
}
.row.selected .giving .hand-on img {
  left: 0;
}
.giving {
    width: 0;
    transition: all 0.5s ease;
}
.giving .hand-on {
  background: rebeccapurple;
  width: 100%;
  padding: 128px 0 128px 33px;
  position: absolute;
  top: -40px;
  left: -33px;
}
.giving .hand-on img {
  width: 80px;
  left: -85px;
  position: relative;
  transition: all 0.5s ease;
}
.row {
    margin: 0;
}
.item-title {
    font-size: 20px;
    font-weight: bold;
    font-family: 'proxima-bold';
}
.item-description {
    font-size: 16px;
    padding: 10px 0px 0px;
}
.quantity {
    font-size: 16px;
    padding: 10px 0px 0px;
}
.quantity input {
    width: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 30px;
    min-width: 75px;
}
.request {
    font-size: 16px;
    padding: 10px 0px 0px;
}
.get-info-btn {
    color: black;
}
.slick-prev:before, .slick-next:before {
    color:    silver;
}
.user-request img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.user-request {
    width: 30px;
    height: 30px;
    display: inline-block;
}
.get-info-btn {
    color: black;
    background: white;
    display: block;
    padding: 10px;
    border-radius: 25px;
    width: 150px;
    text-transform: uppercase;
    font-size: 10px;
    display: inline-block;
}
.get-info-btn:hover {
    color: white;
    background: darkslategrey;
    cursor: pointer;
}
#carousel {
    padding: 0px 45px 0px;
}
.carousel .test {
    height: 200px;
}
.carousel img {
    /*width: 100%;
    height: auto;*/
    width: auto;
    height: 200px;
}
.carousel .slick-slide {
    padding: 2px;
    height: 200px;
}

.item-container {
    padding: 40px 0 20px;
    position: relative;
    overflow: hidden;
}
.button-show-more {
    width: 50px;
    height: 50px;
    background: gray;
    position: absolute;
    right: 31px;
    bottom: -25px;
    border-radius: 50%;
}
.giving-note {
    padding: 40px;
}
.ts-container {
    text-align: center;
    margin: 100px 20px;
    background: yellow;
    border-radius: 12px;
    padding: 50px;
}
.ts-items {
    margin: 20px 0px;
    background: white;
    padding: 40px;
    height: 400px;
}
.ts-timeline {
    margin: 20px 0px;
    background: blue;
    padding: 40px;
    height: 400px;
}
.ts-item{
    padding: 10px;
    background: pink;
    margin: 15px 0px;
    border-radius: 10px;
}
.no-padding {
    padding: 0;
}
.recent-action-message {
    display: inline-block;
    padding: 5px 20px;
    background: white;
    border-radius: 15px;
}
.recent-action {
    text-align: left;
}
.done {
    background: red;
}
.custom-class{
    width: 100%;
    border: none;
}
.no-inline{
    margin-bottom: 2px;
}
.profile{
    position: relative;
    background: yellow;
    margin: 40px 50px;
    padding: 10px;
    border-radius: 14px;
    text-align: center;
}
.static {
    margin: 0 100px;
}
.count{
    font-size: 30px;
    font-family: 'proxima-light';
}
.type {
    font-family: 'proxima-bold';
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 10px;
}
.profile-name {
    font-size: 16px;
    padding-top: 10px;
    font-family: 'proxima-bold';
    padding-bottom: 25px;
}
.title{
    font-size: 31px;
    padding-top: 10px;
    color: white;
    font-family: 'proxima-light';
}
.border-right {
    border-right: 2px solid black;
}
.profile-detail{
    margin: 40px 50px;
}
.yellow-brick{
    background: yellow;
    display: inline-block;
    width: 150px;
    border-radius: 12px 0px 0px 12px;
    height: inherit;
}
.info-content {
    vertical-align: top;
    display: inline-block;
    padding: 30px 0px;
    font-size: 20px;
    font-family: 'proxima-light';
}
.info-content li {
    padding-top: 20px;
}
.info-item {
    height: 350px;
    margin-top: 30px;
}
.round-img img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.round-img {
    padding-top: 146px;
    padding-left: 44px;
}
.media {
    padding: 25px;
}
.btn-follow{
    text-transform: uppercase;
    padding: 1px 15px;
    border: 1px solid white;
    width: 130px;
    margin: 0 auto;
    color: white;
    font-size: 20px;
}
.btn-follow:hover{
    border: 1px solid black;
    color: black;
}
.edit-btn{
    position: absolute;
    right: 2px;
    top: 2px;
}